
:root {
  --grid-gap: 8px;
  --content-padding: 24px;
  --border: 1px solid hsl(0, 0%, 88%);
  --color-pink: hsl(350, 100%, 63%);
  --color-blue: hsl(230, 90%, 27%);
  --color-gray: hsl(0, 0%, 36%);
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 1.3rem;
  margin-top: 0;
}

h2 {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--color-blue);
}

h3 {
  font-size: 1rem;
  margin-top: 3rem;
  color: var(--color-blue);
}

button {
  background-color: #ffe1e6;
  color: red;
  border-radius: 8px;
  padding: 8px 24px;
  border: 2px solid red;
  margin-bottom: 12px;
  margin-right: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

button:hover {
  cursor: pointer;
}

menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  margin-bottom: 0;
}

menu menu {
  margin-left: 19px;
}

menu span {
  font-weight: bold;
  color: var(--color-blue);
}

a {
  color: var(--color-pink);
  text-decoration: none;
}

p {
  color: var(--gray);
  font-size: 1.1rem;
  line-height: 2;
}

input {
  border: 1px solid pink;
  border-radius: 4px;
  padding: 8px 12px;
}

.grid {
  width: 100%;
  max-width: 1400px;
  margin: 24px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);;
  grid-template-rows: 80px auto; 
  grid-gap: 12px;
  grid-template-areas: 
    "header  header  header  header  header  header  header  header  header  header  header  header"
    "sidebar  sidebar  sidebar  main  main    main    main    main    main    main    main    main"
    "footer   footer   footer   footer  footer  footer  footer  footer  footer  footer  footer  footer";
}

.item-header {
  grid-area: header;
  padding: var(--content-padding);
  border-bottom: var(--border);
}
.item-sidebar {
  grid-area: sidebar;
  padding: var(--content-padding);
  border-right: var(--border);
}
.item-main {
  grid-area: main;
  padding: var(--content-padding) var(--content-padding) 0 var(--content-padding);
}
.item-footer {
  grid-area: footer;
  padding-right: var(--content-padding);
  padding-left: var(--content-padding);
  color: var(--color-blue);
  text-align: right;
}

.item-sidebar aside {
  position: sticky;
  top: var(--content-padding);;
}

.example {
  padding: var(--content-padding);
  margin-bottom: 12px;
  border-bottom: var(--border);
}

.output {
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 0%);
  padding: 12px 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.output:first-child {
  font-weight: bold;
}